.container {
  /* position: absolute;
  top: 30%;
  left: 10px;
  text-align: center; */
  padding-top: 8%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.micro_clicked {
  background: #d4842b;
}

.mic {
  margin: auto;
  width: 50%;

  /* top: 233px; */
  text-align: center;
  cursor: pointer;
  /* position: relative; */
  /* top: 303px; */
}

.mic_background {
  font-size: 192px;
  background: #d4842b;
  /* background: #201f1f; */
  padding: 28px;
  border-radius: 100%;
}

.top_header {
  /* width: 100%; */
  height: 20px;
  background: #2e354f;
  padding: 1px;
  -webkit-app-region: drag;
}

.top_title {
  font-family: Roboto;
  padding: 11px;
}

.goback {
  position: absolute;
  left: 0;
  right: 0;
  top: 7%;
  text-align: center;
}
.backarrow {
  font-size: 2.6rem;
}

.username {
  font-size: 0.8rem;
  margin: auto;
  padding: 0.3rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  vertical-align: super;
  width: 50%;
  cursor: pointer;
}

.username:hover {
  opacity: 0.6;
}

.mic i:hover {
  /* color: rgb(248, 253, 25) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  /* padding: 56px!important; */
}

.nocall {
  text-align: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: #1a1f31;
  font-weight: 800;
  margin-top: -6px;
}

.button_holder {
  margin: auto;
  text-align: center;
}

.button {
  background: #1a1f31;
  border: 0;
  color: wheat;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
}
.button:hover {
  background: #060911;
}
